CMS_API_BASE=http://127.0.0.1:8000
SITE_SLUG=global-city-review
DEFAULT_LANGUAGE=zh
SITE_URL=https://www.globalcityreview.com
CONTACT_EMAIL=letters@globalcityreview.com
ADDRESS=30 Cecil Street, Prudential Tower, Singapore 049712
